[2017-07-26 14:58] Pritom14 opened #1 "Crashes on android devices running on Android 4.4 and Android 5.0, but works fine when run on Android 6.0 and above"

[2017-10-03 06:09] Pritom14 commented on #1
Fixed

[2017-10-03 06:09] #1 closed, assigned to nobody

[2017-10-06 10:50] AhmerAfzal1 opened #2 "It won't send verification email"
Hello,

It won't send verification email to user where error exists?

[2017-10-06 11:20] AhmerAfzal1 opened #3 "Online verify after unistall app"
Hi,

I appreciate your work, please try to put database in online clouding that can kept previous user credentials. Now it is just store passwords but no having backup facility, please if you can so try to store backup database with signed up username email address and password.

Thanks for great library

[2017-10-06 12:44] Pritom14 commented on #3
I don't have a lot of experience on online data storage. If you know online
data storage you could send a PR

On 06-Oct-2017 4:50 PM, "Ahmer Afzal" <notifications@github.com> wrote:

Hi,

I appreciate your work, please try to put database in online clouding that
can kept previous user credentials. Now it is just store passwords but no
having backup facility, please if you can so try to store backu

[2017-10-07 12:28] #3 closed, assigned to nobody

[2017-10-07 12:28] #2 closed, assigned to nobody

[2017-10-07 12:29] Pritom14 opened #4 "Add CONTRIBUTION.md file with contribution guidelines to repo"

[2017-10-07 12:33] Pritom14 opened #5 "Add README.md file"

[2017-10-07 13:00] pulkit03 commented on #5
How do you want it to be written?

[2017-10-07 13:04] Pritom14 commented on #5
There should be pictures of how to use it and also the **link** to play store.
[Play Store](https://play.google.com/store/apps/details?id=com.nitsilchar.hp.passwordStorage).
You will get the pictures in the play store itself and also the guidelines of how to use it.

[2017-10-07 15:00] MiguelCosme commented on #5
Hi there, just finish a readme.md file for your project. See more details here: a48bc0e .

[2017-10-07 15:04] Pritom14 commented on #5
Thank you for the PR, you could also check #4

[2017-10-07 15:12] MiguelCosme commented on #5
Thanks for accepting my PR.
About issue #4 i was thinking about working on that too, however I don't know exactly what you want the guideline for contributors to be.
Can you give me a more details or an example that I should follow that goes with what you were thinking?

[2017-10-07 15:22] #5 closed, assigned to nobody

[2017-10-07 15:22] #4 closed, assigned to nobody

[2017-10-07 15:24] Pritom14 opened #8 "Implement cloud storage"
Implement cloud storage like [Firebase](https://firebase.google.com/) in the application so that the saved information are stored in cloud

[2017-10-07 15:25] Pritom14 opened #9 "Implement Recycler View"
In the Main Activity implement **Recycler View**

[2017-10-07 15:27] Pritom14 opened #10 "Improve the for Login and Registration Screen"
The UI should be modified based on the material design principles

[2017-10-07 15:35] Pritom14 opened #11 "Setup Continuous integration with Travis CI"

[2017-10-07 16:51] codeteo commented on #9
I'll give it a try!

[2017-10-07 16:51] Pritom14 commented on #9
Sure, go ahead

On 07-Oct-2017 10:21 PM, "Theo" <notifications@github.com> wrote:

[2017-10-07 16:58] Pritom14 commented on #9
Also, try to modiy the row so that each row consists of a *textview *and an
*imageview*. *ImageView * such as *forward arrow*.

On Sat, Oct 7, 2017 at 10:21 PM, Pritom Mazumdar <
pritommazumdar1995@gmail.com> wrote:

[2017-10-07 17:24] rizal-rovins commented on #10
I can work on it.

[2017-10-07 17:26] Pritom14 commented on #10
Sure, go ahead
Please try to provide screenshots

On 07-Oct-2017 10:54 PM, "Ajul Raj" <notifications@github.com> wrote:

[2017-10-07 18:55] nick-kanakis commented on #11
I can help with that.

[2017-10-07 18:55] Pritom14 commented on #11
Sure, go ahead

On 08-Oct-2017 12:25 AM, "Nikolas Kanakis" <notifications@github.com> wrote:

[2017-10-08 00:08] nick-kanakis commented on #11
Due to some issues, I will not be able to complete this PR in time. If someone else can pick it up...

[2017-10-08 00:22] RealWorldApplications commented on #11
I will give it a try.

[2017-10-08 03:56] Pritom14 commented on #11
Okay, go ahead

[2017-10-08 04:31] Pritom14 opened #14 "Application Crashes due to a bug"
Integration of [Fabric](https://fabric.io/home) in the application has led to crashes.

[2017-10-08 04:52] vincent-paing commented on #14
Can I have the stracktrace?

[2017-10-08 04:54] Pritom14 commented on #14
Okay, but I received the stacktrace in my mail. Do you want that?

[2017-10-08 05:04] Pritom14 commented on #14
`Fatal Exception: java.lang.RuntimeException: Unable to start activity ComponentInfo{com.nitsilchar.hp.passwordStorage/com.nitsilchar.hp.passwordStorage.MainActivity}: java.lang.NullPointerException: Attempt to invoke virtual method 'void android.view.View.setOnCreateContextMenuListener(android.view.View$OnCreateContextMenuListener)' on a null object reference
       at android.app.ActivityThread.

[2017-10-08 07:47] Sineth-N commented on #8
Hi @Pritom14, you mean Firebase real-time database or the normal cloud storage?

[2017-10-08 07:48] Pritom14 commented on #8
Whichever is more feasible

[2017-10-08 07:50] Sineth-N commented on #8
@Pritom14 do you already have a firebase account for this app ??

[2017-10-08 07:52] Pritom14 commented on #8
Yes I have

On 08-Oct-2017 1:20 PM, "Sineth-N" <notifications@github.com> wrote:

[2017-10-08 10:48] geoemm commented on #14
Could you give specific steps to reproduce the crash? It works on my phone although I haven't login or signup.

[2017-10-08 11:29] Pritom14 commented on #14
I guess its because if version problem because for some it works and for
some it doesn't. I have provided the stack trace, you can look into that
for more details.

On 08-Oct-2017 4:18 PM, "George Emmanouil" <notifications@github.com> wrote:

[2017-10-08 18:05] Pritom14 opened #19 "Find bugs and provide enhancements in UI, functionality"
Bugs as in issue #14  and enhancements as in providing encryption for storing passwords and providing a more safer way of storing passwords.
All types of contributions are welcomed.

**Step 1**  :  Create a new issue
**Step 2**  :  Solve the issue and send a PR

[2017-10-08 22:56] aayush-goyal commented on #10
Working on it.

[2017-10-15 10:48] stupidly-logical opened #21 "Implement PIN auth."
Passwords are at least 6 characters long and need to be entered every time on tries to login or access the stored passwords. I suggest we should go for 2nd kind of user verification. I am up for implementing this.

[2017-10-15 20:20] stupidly-logical commented on #21
@Pritom14 how about this?

[2017-10-15 20:21] Pritom14 commented on #21
Okay,sure go ahead

On 16-Oct-2017 1:50 AM, "Yash Krishan Verma" <notifications@github.com>
wrote:

[2017-10-16 08:30] Pritom14 commented on #21
@stupidly-logical , try sending a PR now, I have done a few changes in the travis.yml file

[2017-10-16 10:10] Pritom14 opened #23 "Problem in Travis integration"
The build of `.travis.yml` file fails due to unacceptance of license agreements.
**Stacktrace** :
`You have not accepted the license agreements of the following SDK components:
  [Android SDK Build-Tools 25.0.3].`

[2017-10-16 10:24] flxwu commented on #23
I would like to deal with this issue. Could you assign it to me? @Pritom14

[2017-10-16 10:27] Pritom14 commented on #23
@Pl4gue ,Sure

On 16-Oct-2017 3:54 PM, "David Wu" <notifications@github.com> wrote:

[2017-10-16 10:48] Pritom14 commented on #23
I am not able to assign you the issue for some reasons, I am trying to type
your name for the assignee but your username doesn't show up.
Could you please work on the issue and type `#Fix: issue number` in the PR.
I will merge it and close the issue.

On 16-Oct-2017 3:57 PM, "Pritom Mazumdar" <pritommazumdar1995@gmail.com>
wrote:

Sure

On 16-Oct-2017 3:54 PM, "David Wu" <notifications@github.com>

[2017-10-16 12:46] FrederikBolding commented on #23
Sorry @Pl4gue, I didn't notice that you said you were working on the issue. My bad.

[2017-10-16 12:49] Pritom14 commented on #23
I am not able to assign any issue to anyone so this issue is open to everyone as long as it is not fixed.

[2017-10-16 12:54] Pritom14 commented on #23
Fixed : #24

[2017-10-16 12:54] #23 closed, assigned to nobody

[2017-10-16 12:55] #11 closed, assigned to nobody

[2017-10-24 21:05] Pritom14 commented on #21
Are you still working on this issue ?

[2017-10-26 14:42] Pritom14 commented on #9
Fixed #28

[2017-10-26 14:42] #9 closed, assigned to nobody

[2017-10-26 14:47] Pritom14 opened #29 "Implement CardView for every row of the ListView"
Customize the `listview` so that it implements `cardview` layout. You can use the given links for reference :
[link 1](http://codesfor.in/android-listview-using-cardview-example/) , [link 2](https://stackoverflow.com/questions/30751870/can-one-use-cardview-for-listview-item-and-how) , [link 3](https://github.com/AndroidAppNotes/ListView-and-CardView). The desired output would be something like the

[2017-10-26 15:01] hatalaef commented on #29
I can help with this.

[2017-10-26 15:04] Pritom14 commented on #29
@hatalaef , could you please try out some other issue maybe #10 , because someone is working on it already. Thank you for your interest :)

[2017-10-26 15:20] jasm123 commented on #10
Can I take up this issue if it's available?

[2017-10-26 15:22] Pritom14 commented on #10
@jasm123, sure go ahead

[2017-10-27 14:54] paynemiller92 commented on #29
@Pritom14 thank you for waiting for me, can you please assign the issue to me?

[2017-10-27 14:55] Pritom14 commented on #29
For that you had to create the issue, because I am not able to assign it to anybody other than me.

[2017-10-27 14:57] paynemiller92 commented on #29
@Pritom14 try this method! [Assigning Issues and Pull Requests to other GitHub users](https://help.github.com/articles/assigning-issues-and-pull-requests-to-other-github-users/)

[2017-10-27 15:05] Pritom14 commented on #29
Tried that, only my username appears

[2017-10-27 15:05] Pritom14 commented on #29
You can do one thing, create the same issue, I will assign it to you and I will close this one

[2017-10-27 15:06] paynemiller92 commented on #29
@Pritom14 hmmm well shoot. Alright, I'll just do it real quick.

[2017-10-27 15:08] Pritom14 commented on #29
It's ok take your time,if someone else comments I will let them try out
some other issue.

On 27-Oct-2017 8:37 PM, "Payne Miller" <notifications@github.com> wrote:

[2017-10-27 15:12] #19 closed, assigned to nobody

[2017-10-27 17:24] pingrishabh commented on #10
Still Up? Would like to give this a shot!

[2017-10-27 17:33] Pritom14 commented on #10
I guess take a shot, but keep the UI in accordance with material design. Also please try to send a screenshot. Thank you for the interest :)

[2017-10-27 17:34] Pritom14 commented on #10
@jasm123 , don't mind but I haven't seen your PR so I have asked @Cheesetouched to take up the issue.

[2017-10-27 17:35] pingrishabh commented on #10
Sure. Do tell me if I get something wrong. Also, Is that okay if I use
gradients?

On 27 Oct 2017 23:03, "Pritom Mazumdar" <notifications@github.com> wrote:

[2017-10-27 17:40] Pritom14 commented on #10
Ya sure, you can use gradient but don't make it too fancy , just keep it simple , try to implement material design guidelines. These links will be helpful : [link 1](https://material.io/guidelines/) , [link for gradient colors](https://material.io/color/#!/?view.left=0&view.right=0). And also use the `cardview` layout

[2017-10-27 18:02] pingrishabh commented on #10
Am I allowed to change primary colors and secondary colors? Remove Title Bar? Play around a little and see what fits the best?

[2017-10-27 18:03] Pritom14 commented on #10
Ya sure, go ahead

On 27-Oct-2017 11:32 PM, "Rishabh Singh" <notifications@github.com> wrote:

[2017-10-27 19:04] pingrishabh commented on #10
How's this for a start?

![screenshot_20171028-003113](https://user-images.githubusercontent.com/22350239/32120829-af8ee858-bb77-11e7-9e83-707cb243ddc6.jpg)

[2017-10-27 19:05] Pritom14 commented on #10
Looks good

On 28-Oct-2017 12:34 AM, "Rishabh Singh" <notifications@github.com> wrote:

[2017-10-27 19:06] pingrishabh commented on #10
So I continue and do the same with Register Screen?

[2017-10-27 19:07] Pritom14 commented on #10
Okay

On 28-Oct-2017 12:36 AM, "Rishabh Singh" <notifications@github.com> wrote:

[2017-10-27 19:54] pingrishabh commented on #10
I have completed the revamping of Login & Register UI/UX. I'm firing the pull request. Any prerequisites?

[2017-10-27 19:56] Pritom14 commented on #10
Have you checked the travis build, as to how it checks for error. It might
help you recognise errors.

On 28-Oct-2017 1:24 AM, "Rishabh Singh" <notifications@github.com> wrote:

[2017-10-27 19:59] pingrishabh commented on #10
There are no errors. The app is working exactly how it's supposed to.

[2017-10-27 20:01] Pritom14 commented on #10
Put the lines below in `app/build.gradle` file :

[2017-10-27 20:03] pingrishabh commented on #10
Done. Anything else?

[2017-10-27 20:14] Pritom14 commented on #10
No, that's all

[2017-10-27 20:16] Pritom14 commented on #10
Also please send the screenshots along with the PR.

On 28-Oct-2017 1:33 AM, "Rishabh Singh" <notifications@github.com> wrote:

Done. Anything else?

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub
<https://github.com/Pritom14/Password-Storage/issues/10#issuecomment-340071928>,
or mute the thread
<https://github.com/notifications/unsubscrib

[2017-10-27 20:16] pingrishabh commented on #10
Also. I'm not clear with 'adding only changed files'. I forked your repository. Now, I'll commit and fire a pull request. That sounds right?

[2017-10-27 20:22] Pritom14 commented on #10
Do you use this command `git add --all` , when you send a PR

[2017-10-27 20:26] pingrishabh commented on #10
I just fired a pull request with all the changed or added files. I did not include gradle.xml, misc.xml or module.xml. Do review the PR.

[2017-10-27 20:27] Pritom14 commented on #10
Thanks for your interest, I will review after it has passed all the Travis
checks

On 28-Oct-2017 1:56 AM, "Rishabh Singh" <notifications@github.com> wrote:

[2017-10-27 20:32] pingrishabh commented on #10
Travis Test Passed. The commit is open for reviews.

[2017-10-27 20:37] Pritom14 commented on #10
The PR looks good. I have approved it and asked for it's review. After he
approves it, I will merge it.

On 28-Oct-2017 2:02 AM, "Rishabh Singh" <notifications@github.com> wrote:

[2017-10-28 17:08] Pritom14 commented on #10
Fixed : #31

[2017-10-28 17:08] #10 closed, assigned to nobody

[2017-10-28 17:10] Pritom14 opened #32 "Update README"
The README file should contain latest screenshots or you can use a gif. It should contain the description along with travis build check.

[2017-11-24 05:38] #29 closed, assigned to nobody

[2017-11-24 05:40] Pritom14 opened #34 "Revamp the DetailsActivity"
Make sure to follow the material design guidelines

[2017-11-30 20:10] dastamoghno commented on #32
I want to work on this issue.

[2017-11-30 20:12] Pritom14 commented on #32
Sure, go ahead.

On 01-Dec-2017 1:40 AM, "dastamoghno" <notifications@github.com> wrote:

[2017-12-01 05:49] dastamoghno commented on #32
I have sent a pr #36
Please merge it

[2017-12-01 05:50] dastamoghno opened #37 "No forgot password option"
If I forget my main password then there is no option to reset it.

[2017-12-01 07:43] Megha66 opened #38 "Categorization of passwords"
The app can sort passwords that have been stored in it. For eg. passwords related to office,home,social networking etc.

[2017-12-01 07:45] Pritom14 commented on #38
How do you want to proceed?

On 01-Dec-2017 1:13 PM, "Megha66" <notifications@github.com> wrote:

[2017-12-01 08:41] Megha66 commented on #38
I just thought of this idea.. Give me a few days to figure out what can be
done and how exactly do we have to proceed

On Dec 1, 2017 1:15 PM, "Pritom Mazumdar" <notifications@github.com> wrote:

[2017-12-01 10:13] Pritom14 commented on #38
Sure go ahead

On 01-Dec-2017 2:11 PM, "Megha66" <notifications@github.com> wrote:

[2017-12-01 11:06] dastamoghno commented on #38
I also want to work on this issue.

[2017-12-01 11:07] dastamoghno commented on #38
@Pritom14 do I need to learn firebase to implement this?

[2017-12-01 11:38] Pritom14 commented on #32
Merged #36

[2017-12-01 11:38] #32 closed, assigned to nobody

[2017-12-02 09:10] Pritom14 opened #40 "Design a new layout for splash screen"

[2017-12-02 09:12] Pritom14 opened #41 "Design a new layout for MainActivity"

[2017-12-02 09:13] dastamoghno commented on #41
I want to work on this

[2017-12-02 09:14] Pritom14 commented on #41
Sure go ahead

[2017-12-02 09:44] dastamoghno opened #43 "No option to modify/delete the existing password"
In case you change the password of an account, there is no way to modify the password in the Password Storage app

[2017-12-03 14:47] RajaVamsi11 commented on #41
I also want to work on this Issue.

[2017-12-03 17:18] RajaVamsi11 commented on #41
Hello @Pritom14 .I created a simple Main activity layout in android visualizer of Udacity labs.
here is the Screenshot of  my code and its layout.........
![mainactivity](https://user-images.githubusercontent.com/30550059/33527724-bd833e84-d87b-11e7-9f04-a556347325a5.png)..if you want to suggest any changes..you are welcome.

[2017-12-03 17:22] Pritom14 commented on #41
There should be a menu button for logout option. Also, the main activity contains a recycler view.

[2017-12-03 17:41] RajaVamsi11 commented on #41
How we can include Recycler view in XML code .. I think it is a part of the java coding right.

[2017-12-05 04:47] pawank0411 opened #47 "Password encryption"
Storing the password in encrypted form...  It will act as an.. password security!! it can b decrypted.. afterwards

[2017-12-05 05:31] pawank0411 commented on #41
can i work?

[2017-12-05 05:43] Pritom14 commented on #41
Sure, go ahead

On 05-Dec-2017 11:01 AM, "Pawan kumar" <notifications@github.com> wrote:

[2017-12-05 05:44] pawank0411 commented on #41
can u tell wat.. thng u want in new layout for main activity

[2017-12-05 05:44] pawank0411 commented on #41
i mean wat options!!

[2017-12-05 05:46] Pritom14 commented on #41
I think the cardview is implemented. If not implement that or else, the
cardview should contain an arrow at the rightmost part of the cardview

On 05-Dec-2017 11:14 AM, "Pawan kumar" <notifications@github.com> wrote:

[2017-12-05 05:50] pawank0411 commented on #41
n wat about recycler view..?  wats the function of that arrow in card view..

[2017-12-05 05:51] Pritom14 commented on #41
Recycler view is already implemented, cardview will be implemented for each
row of the recycler view

On 05-Dec-2017 11:20 AM, "Pawan kumar" <notifications@github.com> wrote:

[2017-12-05 05:54] pawank0411 commented on #41
okay.. i ll try to implement card view..... main activitiy

[2017-12-05 14:57] abhipoddar04 commented on #43
We can create an additional link in the app to cross check any changes in the app..like if first login in app is not successful, then this link becomes active with caption "Maybe you have changed your password!" and then "Update here"
After typing the new password, the user will be redirected to the original login page of the website...and if now login with this password is successful, then the pa

[2017-12-06 05:22] Pritom14 opened #49 "Add all png files in screenshots folder"

[2017-12-06 05:26] Pritom14 commented on #43
@abhipoddar04 , there is an option for forgot password in firebase. You can implement that, but then the problem would be the shared preference would not get updated.

[2017-12-06 05:27] dastamoghno commented on #43
What is shared preference?  I am utterly confused 😧

On 06-Dec-2017 10:56 AM, "Pritom Mazumdar" <notifications@github.com> wrote:

[2017-12-06 08:23] abhipoddar04 commented on #43
But there is an issue in Issues tab showing No Option for Forgot Password

[2017-12-06 08:31] thisavijit commented on #49
why it is still in issue?

[2017-12-06 09:43] pawank0411 commented on #41
@Pritom14 plz check my PR ...implementation of card view..Plz inform me after checking PR

[2017-12-06 10:27] pawank0411 commented on #41
![screenshot_2017-12-06-15-43-00-597_com nitsilchar hp passwordstorage](https://user-images.githubusercontent.com/32352500/33657048-fc26695e-da6f-11e7-8c39-dc70afa03c32.png)

[2017-12-06 10:59] brijeshshah13 commented on #43
@abhipoddar04 That is for the master password, i.e, the account password. Here we are talking about the password of the added by client in the app.

[2017-12-06 11:15] abhipoddar04 commented on #43
Ok confusion cleared @brijeshshah13

[2017-12-06 11:20] abhipoddar04 commented on #47
@Pawan0411 Simple encryption can be done by shifting of ASCII characters...But would that be safe? Or the user can create his or her own encryption table and the password can be encrypted according to that...

[2017-12-06 11:52] thisavijit commented on #37
done it! check it

[2017-12-06 15:30] Pritom14 commented on #49
Have you solved it? @adavijit

[2017-12-06 15:39] brijeshshah13 opened #51 "No functionality to toggle password visibility while logging in"
Current application does not have the feature to toggle the password visibility by the user to view the typed password.

[2017-12-06 15:40] Pritom14 commented on #51
Go ahead and solve this issue

[2017-12-06 15:56] brijeshshah13 commented on #51
PR has been raised. Please verify. Necessary screenshots are attached here with.

![screenshot-1512575556488](https://user-images.githubusercontent.com/18366144/33670885-1fd82ca0-dacc-11e7-99f3-4475d1c810f6.jpg)

![screenshot-1512575597515](https://user-images.githubusercontent.com/18366144/33670896-273f4424-dacc-11e7-947a-57f82f8c5804.jpg)

[2017-12-06 16:06] Pawan0411 commented on #41
![paswword](https://user-images.githubusercontent.com/32352500/33671391-6651b142-da9f-11e7-844d-0fc1389ca2e8.png)

[2017-12-06 16:07] Pritom14 commented on #51
Fixed : #52

[2017-12-06 16:07] #51 closed, assigned to nobody

[2017-12-06 17:24] pawank0411 commented on #41
![img_20171206_222534](https://user-images.githubusercontent.com/32352500/33675413-59dff508-daaa-11e7-825c-880190fd4e66.png)

[2017-12-06 17:25] pawank0411 commented on #41
@Pritom14 facing some problem in creation of pull requst

[2017-12-06 19:41] brijeshshah13 commented on #37
@adavijit You haven't pushed the commit. For others to see your work, you need to push your code. Please commit it asap so that enhancements can be made if need be.

[2017-12-06 19:43] pawank0411 commented on #41
![img_20171207_010721](https://user-images.githubusercontent.com/32352500/33681889-c3e3172e-dabd-11e7-9f86-c1f0e424e4dc.png)

[2017-12-06 19:44] pawank0411 commented on #41
@Pritom14 this would be okay

[2017-12-06 21:55] anandwana001 commented on #34
@Pritom14  I would like to work on this issue.

[2017-12-07 01:03] Pritom14 commented on #34
Sure , go ahead

On 07-Dec-2017 3:25 AM, "Akshay Nandwana" <notifications@github.com> wrote:

[2017-12-07 03:00] anandwana001 opened #54 "No consistency for Text Input UI"
@Pritom14  Text Input field should be same everywhere in-app as it looks good on the registration form. We don't require TextInputLayout in here
I would also like to introduce butterknife for binding in app.
![screenshot_2017-12-07-08-23-30-336_com nitsilchar hp passwordstorage](https://user-images.githubusercontent.com/25057618/33696475-60f65368-db28-11e7-9960-a5f9cb106622.png)

[2017-12-07 03:37] Pritom14 commented on #54
Okay, implement it

On 07-Dec-2017 8:30 AM, "Akshay Nandwana" <notifications@github.com> wrote:

[2017-12-07 03:38] anandwana001 commented on #34
@Pritom14 what would you suggest?
![image](https://user-images.githubusercontent.com/25057618/33697688-22675c22-db2e-11e7-94f4-f200d26cebd1.png)
We can make only one show password button which also enables the user to modify it!

[2017-12-07 03:39] anandwana001 commented on #54
@Pritom14 sure

[2017-12-07 04:10] Pritom14 commented on #34
The UI looks good

On 07-Dec-2017 9:08 AM, "Akshay Nandwana" <notifications@github.com> wrote:

[2017-12-07 04:12] anandwana001 commented on #34
@Pritom14 I will make PR for this one and also add modify button, it will be easy for the user to modify it.

[2017-12-07 04:12] Pritom14 commented on #34
Okay, go ahead

On 07-Dec-2017 9:42 AM, "Akshay Nandwana" <notifications@github.com> wrote:

[2017-12-07 04:13] Pritom14 commented on #34
Have you joined the gitter channel?

On 07-Dec-2017 9:42 AM, "Pritom Mazumdar" <pritommazumdar1995@gmail.com>
wrote:

[2017-12-07 04:19] anandwana001 commented on #34
@Pritom14 Joining

[2017-12-07 04:34] Pritom14 commented on #49
Fixed #53

[2017-12-07 04:34] #49 closed, assigned to nobody

[2017-12-07 06:34] brijeshshah13 commented on #54
@anandwana001 TextInputLayout is necessary for the password visibility toggle feature. I can edit the other EditText in the registration layout to achieve consistency. Okay with you?

[2017-12-07 06:37] anandwana001 commented on #54
@brijeshshah13 I don't think it's necessary because there are many ways we can achieve that toggle button for the password.

[2017-12-07 06:40] brijeshshah13 commented on #54
@anandwana001 I researched about various third party libraries, but they all suggest the use of TextInputLayout after it was launched as an in-built functionality. It is efficient in terms of flexibility and ability to change any prospects in the future.

[2017-12-07 06:44] anandwana001 commented on #54
@brijeshshah13 can we change the design a bit because those background boxes will look ugly with this!

[2017-12-07 06:45] brijeshshah13 commented on #54
@anandwana001 I too thought of it. I will change the background tint to somewhat light so that it blends in and post the screenshot here for review. How about that?

[2017-12-07 06:47] anandwana001 commented on #54
@brijeshshah13 cool lets remove those boxes, update screenshot we can discuss!!

[2017-12-07 08:03] brijeshshah13 commented on #54
@anandwana001 @Pritom14  How about this? Clean and clear. Plus, I have removed the auto-focus from the Email TextInputEditText. Thus, it will get active only when the user clicks to enter the email address.

![screenshot-1512633776159](https://user-images.githubusercontent.com/18366144/33704628-382d4f92-db53-11e7-82a7-082057844955.jpg)

[2017-12-07 08:19] Pritom14 commented on #54
This looks better

On 07-Dec-2017 1:33 PM, "Brijesh Shah" <notifications@github.com> wrote:

[2017-12-07 08:21] brijeshshah13 commented on #54
@Pritom14 Shall I implement the same in the registration layout as well? Obviously the facility to toggle password visibility will not be embedded there as it will be illogical.

[2017-12-07 08:30] Pritom14 commented on #54
Yes, do it

On 07-Dec-2017 1:51 PM, "Brijesh Shah" <notifications@github.com> wrote:

[2017-12-07 10:39] Pritom14 opened #56 "Adding a new feature for password strength"
**Summary**
Adding a view for checking password strength. The changes should be reflected in the registration activity, and all the other activities where passwords are involved

**Screenshot**
![24956743_1873727036272731_1637738869_o](https://user-images.githubusercontent.com/16569570/33711100-cf2ef750-db68-11e7-8207-3f1c06b30e86.jpg)

[2017-12-07 10:42] Pritom14 commented on #54
Fixed #55

[2017-12-07 10:42] #54 closed, assigned to nobody

[2017-12-07 10:42] #43 closed, assigned to nobody

[2017-12-07 10:43] Pritom14 commented on #34
@anandwana001 , what do you think of implementing a new feature as described in issue #56 in details activity?

[2017-12-07 10:47] anandwana001 commented on #56
@Pritom14 Ok, showing strength to the user will be a good idea. we can have a look for more better UI

[2017-12-09 08:18] Pritom14 opened #59 "Implementing navigation drawer"
**Summary**
Implement navigation drawer inside MainActivity
You can take help from [this](https://github.com/mikepenz/MaterialDrawer) link

[2017-12-09 10:01] brijeshshah13 commented on #59
@Pritom14 I would like to take up on this task.

[2017-12-09 10:01] Pritom14 commented on #59
Sure ,go ahead

On 09-Dec-2017 3:31 PM, "Brijesh Shah" <notifications@github.com> wrote:

[2017-12-09 10:02] Pritom14 commented on #59
Put the logout option in the navigation drawer. I will tell you what else
to put in the drawer.

On 09-Dec-2017 3:31 PM, pritommazumdar1995@gmail.com wrote:

[2017-12-09 10:04] brijeshshah13 commented on #59
Kindly set the assignee. We can discuss more about the same on the gitter channel.

[2017-12-09 10:05] Pritom14 commented on #59
I don't know but for some reason I am not able to assign any issues to
anyone except me.

On 09-Dec-2017 3:34 PM, "Brijesh Shah" <notifications@github.com> wrote:

[2017-12-09 10:09] brijeshshah13 commented on #59
Well, then the only option you have is post a comment here stating the same. I'm emphasizing this to avoid conflicts of multiple PRs or too many cooks working on the same dish.

[2017-12-09 10:10] Pritom14 commented on #59
Don't worry,you start working on it. I will ensure that no one else works
on it

On 09-Dec-2017 3:39 PM, "Brijesh Shah" <notifications@github.com> wrote:

[2017-12-09 14:19] PhaniGudepu commented on #41
can I work on this?

[2017-12-09 14:29] Pritom14 commented on #41
@PhaniGudepu , okay but make sure you put the screenshot over here before you send the PR

[2017-12-10 04:45] Pritom14 opened #61 "Implement option for deletion of account names"
**Summary**
Implement longClickListener for deletion. So if a user long presses on an item in the recyclerview a dialog box appears for deletion and the user has to enter the master password for deletion of the item.

[2017-12-10 13:00] #47 closed, assigned to nobody

[2017-12-10 13:01] pawank0411 commented on #61
can i work  @Pritom14

[2017-12-10 13:13] Pritom14 commented on #61
Sure, go ahead

On 10-Dec-2017 6:31 PM, "Pawan kumar" <notifications@github.com> wrote:

[2017-12-10 13:33] PhaniGudepu commented on #41
ok sure

[2017-12-11 09:34] yog-singh commented on #38
Tags can be added for each entry and then sorted using it.

[2017-12-11 09:40] Pritom14 commented on #38
@Megha66 , @dastamoghno , @yog-singh suggest your ideas to sort out this issue

[2017-12-12 09:48] anandwana001 commented on #34
@Pritom14 making new PR, also login screen looking good now but need some margin. can I also do that part in this PR?

[2017-12-12 09:50] Pritom14 commented on #34
@anandwana001 , please make a seperate PR for that by creating an issue.

[2017-12-12 09:51] anandwana001 commented on #34
ok

[2017-12-12 09:57] anandwana001 commented on #34
@Pritom14 as we have the same layout for all the different screen size, we don't need different layout file

[2017-12-12 09:59] Pritom14 commented on #34
@anandwana001 , you are correct ,was thinking of deleting them

[2017-12-12 10:00] anandwana001 commented on #34
ok, I'll remove

[2017-12-12 10:11] anandwana001 commented on #34
@Pritom14 revamp detail design #62

[2017-12-12 10:29] anandwana001 commented on #41
hey guys, how about if we make something like this?

![screenshot_2017-12-12-15-50-07-391_com android vending](https://user-images.githubusercontent.com/25057618/33879684-34a59b1c-df55-11e7-89b0-d2cfc5a9decf.png)

[2017-12-12 10:30] Pritom14 commented on #41
@anandwana001 , this looks good

[2017-12-12 10:34] #34 closed, assigned to nobody

[2017-12-12 11:55] anandwana001 commented on #41
hey guys, any one up for this?

[2017-12-14 09:27] Pritom14 commented on #41
@anandwana001 , any updates on the design?

[2017-12-14 20:39] ishudohare commented on #40
Hey can I start contributing in this project from this issue.
I have done UX/UI course on android so would like to work on this.
I know Im a bit late in this so wanted a head start.
Pls tell me if I can work on any other issue and pls share the details as to what kind of spalshscreen do u require?
Ishu Dohare
Junior Undergrad at IIT(BHU)

[2017-12-15 06:12] Pritom14 commented on #40
Sure,go ahead

[2017-12-15 06:14] #8 closed, assigned to nobody

[2017-12-15 06:14] #14 closed, assigned to nobody

[2017-12-15 06:14] #21 closed, assigned to nobody

[2017-12-15 06:14] #37 closed, assigned to nobody

[2017-12-15 06:15] Pritom14 commented on #38
Anybody working on this issue? If not I am going to close this

[2017-12-15 06:49] yog-singh commented on #38
Yeah I'm working on the issues. Will soon update you with the approach I'm using.

[2017-12-16 06:22] #59 closed, assigned to nobody

[2017-12-16 18:05] Pritom14 opened #64 "Update Readme file"
**Summary**
It would be better if there is a gif in place of all the screenshots.Keep the descriptions to the point and remove my name.
The screenshots required for making the gif is present in the screenshots folder.

[2017-12-17 12:10] ishudohare commented on #40
wanted to know what kind of splash screen would u prefer for the app.

[2017-12-17 12:11] Pritom14 commented on #40
Keep the logo and add a bit animation in the background, remove the name

On 17-Dec-2017 5:40 PM, "Ishu Dohare" <notifications@github.com> wrote:

[2017-12-17 12:15] ishudohare commented on #40
kind of like..gif animation?
animated videos take up a lot of space in the app..
but rendering continuous images according to the timer can give the effect of an actual video

[2017-12-17 12:17] Pritom14 commented on #40
Okay, then do accordingly.

[2017-12-18 18:17] lukiee555 commented on #41
Can I work on this?

[2017-12-19 05:07] Pritom14 commented on #41
@lukiee555 , can you please work on some other issue or enhancement, @anandwana001 is working on this currently

[2017-12-19 06:12] anandwana001 opened #66 "Delete feature"
This app should have **delete option** for the accounts we made.
Long Press gives us the option to select multiple rows and one delete button on the toolbar
To make it interactive we should have some animation like - flipping of the circle icon and tick mark on it like we have in Gmail app.

[2017-12-19 06:14] anandwana001 opened #67 "Mark account favorite"
We can add some star icon to mark the account favorite.

[2017-12-19 06:17] anandwana001 opened #68 "Add Account Description"
When a user adds new account they should have one option to put a description.
I had added the field anyone of you can take this issue and work on it.
![screenshot_2017-12-19-10-56-50-299_com nitsilchar hp passwordstorage](https://user-images.githubusercontent.com/25057618/34143331-3f5f50b8-e4b2-11e7-85eb-634194e4560d.png)

[2017-12-19 06:19] Pritom14 commented on #66
The delete feature is already being handled by someone, you can wait for their response, or I will inform you when to implement the feature.

[2017-12-19 06:19] #66 closed, assigned to nobody

[2017-12-19 06:20] anandwana001 opened #69 "Add Website link"
Below description field, we can give one option so that user can go directly to the respective website.

[2017-12-19 06:28] #41 closed, assigned to nobody

[2017-12-19 06:32] lukiee555 commented on #38
@yog-singh you stilk working on this?

[2017-12-19 06:33] Pritom14 commented on #38
@lukiee555 , you can take up this issue, as because I haven't got any response from others

[2017-12-19 06:33] Pritom14 commented on #38
Also, how do you want to implement the issue?

[2017-12-19 06:40] anandwana001 commented on #64
@Pritom14 I would like to work on this.

[2017-12-19 06:45] anandwana001 commented on #64
could you please update the screenshots!

[2017-12-19 06:49] Pritom14 commented on #64
The screenshots are there in the folder

On 19-Dec-2017 12:15 PM, "Akshay Nandwana" <notifications@github.com> wrote:

[2017-12-19 07:13] anandwana001 commented on #64
@Pritom14  have a look at [this](https://jbt.github.io/markdown-editor/#lVTbTuQ4EH3PVxSNUC/SdgINjZYVDYJhZmAvTHMdzaAVcpLq2IxjZ22nQ/j6LTuE7gXtwz4ltsunTlWd4wNRFmBNNh1w5yr7a5JIvhMXWhcSa4sm08qhcnGmy2TnctTcXpydjvjdZO/rhf3a7n+5/fR8xq7wxH7/c5df/j5azPZPb8bfvt+dX120oiiv7u52ni8n8/Hx0w2bzOS0mWwNgElRqOlA4twNgNuKZTgdbA9g8fp7GEUHDLjB+XTYM6ska1+oBT7WaYMJqyqb5OiYkPZI5FM6iZVwVsiMMxPzKq6YtY02+TXFswKH4Jgp0E2HD6lk6sew

[2017-12-19 07:33] anandwana001 commented on #64
<img src="https://lh3.googleusercontent.com/3Q-wUNHD-hV56WNsWy9OUFzHaReBsZM4hQK-vP9DT2YZVIRNyigmRVV3zQ5f2AxTa5Pl=w50" align="left" hspace="1" vspace="1">

<a href='https://play.google.com/store/apps/details?id=com.nitsilchar.hp.passwordStorage' target='_blank' align="right"><img align="right" height='36' src='https://s20.postimg.org/muzx3w4jh/google_play_badge.png' /></a>
# Password Storage

Annoy

[2017-12-19 07:42] Pritom14 commented on #64
@anandwana001 ,please update the mainactivity screenshot and also the details activity. The main activity should contain atleast on list item, and should reflect the recent changes you have made

[2017-12-19 07:43] Pritom14 commented on #64
Also, upload the screenshots of the recent changes you have made in the main activity in the screenshots folder.

[2017-12-19 07:54] anandwana001 commented on #64
ok

[2017-12-19 09:01] #64 closed, assigned to nobody

[2017-12-20 13:34] Pritom14 commented on #40
@ishudohare , are you done?

[2017-12-21 19:53] ishudohare commented on #40
yeah ...I have written the code for the video...
currently designing the video in AfterEffects...
will upload the video till tomorrow for confirmation

[2017-12-21 20:44] Pritom14 commented on #40
Please don't make it too fancy using after effects and all, after all the
app is all about passwords and security

On 22-Dec-2017 1:23 AM, "Ishu Dohare" <notifications@github.com> wrote:

yeah ...I have written the code for the video...
currently designing the video in AfterEffects...
will upload the video till tomorrow for confirmation

—
You are receiving this because you authored the thread.
Re

[2017-12-21 20:55] ishudohare commented on #40
Yeah ,I know...I'll try to make it as simple as possible.

[2017-12-21 22:00] ishudohare commented on #40
pls send a high definition picture of the logo...I need it ASAP
share me the link if possible

[2017-12-22 04:48] Pritom14 commented on #40
I don't have a hd picture of the logo, you can use the logo as given

On Fri, Dec 22, 2017 at 3:30 AM, Ishu Dohare <notifications@github.com>
wrote:

[2017-12-22 09:00] ishudohare commented on #40
Can I use another logo.. pic related to password lock or something?

[2017-12-22 09:01] Pritom14 commented on #40
Ok, but do share the screenshot or gif first over here before sending the PR

On 22-Dec-2017 2:30 PM, "Ishu Dohare" <notifications@github.com> wrote:

[2017-12-22 09:51] ishudohare commented on #40
https://drive.google.com/open?id=1vIq4LSMyWlkjv9nEJ0RRKxGkPwXg8Kvq

..can I send the PR now?

[2017-12-22 09:55] Pritom14 commented on #40
Okay,send the PR, I will review it

On Fri, Dec 22, 2017 at 3:21 PM, Ishu Dohare <notifications@github.com>
wrote:

[2017-12-27 08:11] lukiee555 commented on #38
as mention above I will categorized them eg. home, office etc

[2017-12-30 14:30] brijeshshah13 opened #73 "Implement About Us layout"
`About Us` is left to be implemented.

[2017-12-30 18:59] brijeshshah13 opened #75 "Implement Search Button in the Appbar"
**Actual Behavior:**
Nothing happens when Search icon is clicked.

**Expected Behavior:**
Clicking on the Search icon should enable the user to search from the database of the stored list of passwords according to the website name.

[2017-12-30 19:02] brijeshshah13 opened #76 "Design Settings Layout and Activity"
**Actual Behavior:**
Nothing happens when the `Settings` options is selected from the Navigation Drawer.

**Expected Behavior:**
The user must be redirected to a new fragment or an activity where the necessary settings of the app can be handled and changed.

[2017-12-30 19:04] brijeshshah13 opened #77 "Design Share Layout and Activity"
**Actual Behavior:**
Nothing happens when the `Share` options is selected from the Navigation Drawer.

**Expected Behavior:**
The user must be shown the list of apps through which the app information can be shared with an appropriate message.

[2017-12-30 19:07] brijeshshah13 opened #78 "Change profile icon and email id as per the user"
**Actual Behavior:**
In the current version of the app, the profile icon and the email address in the navigation drawer remains the same for all the users.

**Expected Behavior:**
The profile icon and email address must be updated as per the logged in user info.

[2017-12-31 19:23] #73 closed, assigned to nobody

[2018-01-01 16:08] RealWorldApplications commented on #68
I would like to work on this issue.

On Tue, Dec 19, 2017 at 1:17 AM, Akshay Nandwana <notifications@github.com>
wrote:

[2018-01-01 16:19] Pritom14 commented on #68
@RealWorldApplications , go ahead

[2018-01-05 16:50] ishudohare commented on #40
I already sent the full fledged PR long ago.. With the concerned issues
fixed....
Pls review it.. And let me know if there is any problem

On 22-Dec-2017 3:25 PM, "Pritom Mazumdar" <notifications@github.com> wrote:

[2018-01-07 17:28] RealWorldApplications commented on #68
I downloaded the project as a zip file and have been working on this issue.
Would you like to review my code?

On Mon, Jan 1, 2018 at 11:19 AM, Pritom Mazumdar <notifications@github.com>
wrote:

[2018-01-07 17:29] Pritom14 commented on #68
Sure,send a PR

[2018-02-11 08:36] #69 closed, assigned to nobody

[2018-02-12 15:31] #61 closed, assigned to nobody

[2018-02-14 05:11] #75 closed, assigned to nobody

[2018-02-14 05:12] Pritom14 opened #85 "On closing the application About Us layout pops up"

[2018-02-15 10:13] #85 closed, assigned to nobody

[2018-02-15 10:13] #77 closed, assigned to nobody

[2018-02-15 10:14] #68 closed, assigned to nobody

[2018-02-17 05:28] #76 closed, assigned to nobody

[2018-10-02 14:36] stupidly-logical commented on #67
I've added this in #91 . Clear app data before testing this on device.

[2018-10-02 15:00] stupidly-logical opened #93 "Toggle password visibility during registration."
I am working on this.

[2018-10-03 17:34] stupidly-logical opened #95 "Gradle and Dependencies outdated."

[2018-10-03 17:34] stupidly-logical commented on #95
Fixed in #92

[2018-10-04 17:51] Pritom14 opened #96 "Update the UI of SignIn and SignUp Activities"

[2018-10-04 17:53] stupidly-logical commented on #96
Would like to work on this. Any suggestions on changes?

[2018-10-04 17:56] Pritom14 commented on #96
Sure @stupidly-logical, keep the background simple, use icons from 'material.io`. Create a rough layout and post it on this thread before commiting and we can discuss on the tweaks to e made

[2018-10-04 17:58] stupidly-logical commented on #96
Sure.

[2018-10-05 05:33] vaibhavvijay9 commented on #96
Add the screenshots in a better way using mockups. Link: https://mockupsjar.com/

[2018-10-11 08:57] stupidly-logical commented on #95
New updates in #99

[2018-11-02 18:13] gocool777 commented on #96
Can work on this

[2021-04-28 17:42] #78 closed, assigned to nobody